# To upload to Github, use `git save "your commit note here"`
# To check your git aliases, use: `cat ~/.gitconfig`

# ENV & creds
.env
service_account.json

# Virtual environment
.venv/

# Bytecode
__pycache__/
*.pyc

# Logs
logs/*.log

# macOS junk
.DS_Store

# Config files
configs/*.json

# Deprecated
deprecated/*.py